---
import logofisica from '../images/física-horizontal.png';
---
<div class="botton">
        <image class="logofisica" src={logofisica.src} alt="Logo Fisica ULA" fetchpriority="high"></image>
</div>
<style>
    .botton{
        height: 20%;
       
        width: 100%;
    }
    .logofisica{
        width: 20%;
        filter: drop-shadow(1px 2px 0 #202020);
    }
</style>