---
import logofisica from '../images/física-horizontal.png';
---
<div class="footer">
     
</div>
<style>
    .footer{
        height:20%;
        width:99%;
        background:#d5b076;
    }
    
    
</style>