---
import logofisica from '../images/física-horizontal.png';
---
<div class="botton">
        <image class="logofisica" src={logofisica.src} alt="Logo Fisica ULA" fetchpriority="high"></image>
</div>
<style>
    .botton{
        height: 20%;
        background: linear-gradient(to top, #D5B076 50%, #1f1e1e);
        width: 100%;
    }
    .logofisica{
        width: 20%;
    }
</style>