---
import logociencias from '../images/Cs_hcga.png';
import logofisica from '../images/física-horizontal.png';
---
<div class="top ">
    <image id="logociencias" class="logociencias" src={logociencias.src} alt="Logo Ciencias ULA" fetchpriority="high"></image>
    <image id="logofisica" class="logofisica" src={logofisica.src} alt="Logo Ciencias ULA" fetchpriority="high"></image>
</div>

<style>
    .top{
        height: 15%;
        background: #d5b076;
        width: 99%;
    }
    .logociencias{
        width: 35%;
        margin-top: 2%;
        margin-left: 2%;
        filter: drop-shadow(0px 1px 0 #202020);
    }
    .logofisica{
        width: 15%;
        margin-right: 20px;
        margin-top: 1%;
        float: right;
        filter: drop-shadow(1px 1px 0 #000);
        padding-top: -5%;
        background: #25252510;
    }
</style>
