---
import logociencias from '../images/Cs_hcga.png';
import logofisica from '../images/física-horizontal.png';
---
<div class="top ">
    <image id="logociencias" class="logociencias" src={logociencias.src} alt="Logo Ciencias ULA" fetchpriority="high"></image>
    <image id="logofisica" class="logofisica" src={logofisica.src} alt="Logo Ciencias ULA" fetchpriority="high"></image>


</div>

<style>
    .top{
        height: 15%;
        background: linear-gradient(to bottom, #D5B076 50%, #1f1e1e);
        width: 100%;
    }
    .logociencias{
        width: 30%;
        margin-top: 20px;
        margin-left: 20px;
    }
    .logofisica{
        width: 13%;
        margin-right: 20px;
        float: right;

    }
</style>
<