---
import Layout from "../layouts/Layout.astro";
import labfis11 from '../images/lab-fis-11.jpg';
import "../styles/global.css";
---
<h2>
    Recursos Adicionales
</h2>
<p class="text-center text-5xl">
    En esta sección encontrarás diversos recursos adicionales como software de análisis de datos, enlaces a otros sitios de interes, simulaciones y muchas cosas mas.
</p>