---

---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Laboratorio de Fisica</title>
	</head>
	<body>
		<slot/>
	</body>
</html>

<style>
	html,
	body {
		margin: 10px;
		width: 100%;
		color:ghostwhite;
		background: #202020;
		/*background: linear-gradient(-45deg, #202020, #d5b076, #202020, #d5b076);*/
		background-size: 400% 400%;
		animation: gradient 25s ease infinite;
		height: 100vh;}
	@keyframes gradient {
	0% {background-position: 0% 50%;}
	50% {background-position: 100% 50%;}
	100% {background-position: 0% 50%;}
	}	
	
</style>
